
body{
    background-color: #201d1d;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img[alt="logo"]{
    padding-left: 100px;
    padding-top: 20px;
}
img[alt="background"]{
    position: absolute;
    width: 1500px;
    height: 680px;
    margin-top: 370px;
    object-fit: cover;
    object-position: 100% 80%; 
    margin-left: -20px;
}

.heading{
    font-size: 75px;
    max-width: 700px;
    float: left;
    position: absolute;
    color: white;
    padding-top: 30px;
    padding-left: 100px;
    letter-spacing: 2px;
}

.description{
    color: #879596;
    float: right;
    font-size: 22px;
    text-align: left;
    position: absolute;
    padding-left: 840px;
    padding-top: 120px;
}

.list{
    color: #757e6b;
    display: flex;
    padding-left: 550px;
    list-style-type:none;
    padding-bottom: 50px;
    margin-top: -35px;
}

.list-item{
    font-size: 20px;
    padding-right: 40px;
    cursor: pointer;
  position: relative;
}

.list-item:hover{
    color: white;
}

.button-corner{
    float: right;
    margin-right: 150px;
    margin-top: -100px;
    width: 180px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    color: #AF9D5A;
    border-radius: 10px;
    border-color: #AF9D5A;
}

.button-corner:hover{
    color: white;
    border-color: white;
}